{% extends 'partials/base-home.html' %}
{% load static %}
{% block content %}
{% if validlink %}

<div class="main-sec-as2">
    <div class="password-container">
        <h3>Change Password</h3>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Change password</button>
        </form>    
    </div>
</div>
{% else %}   
<div class="main-sec-as2">
    <div class="password-container">
        <p>
            The password reset link was Invalid, Possibly because it has already been used.
            Please request a new password reset.
        </p>
    </div>
</div>    

{% endif %}
{% endblock content %}
