{% extends 'partials/base-home.html' %}
{% load static %}
{% block content %}
<div class="main-sec-as2">
    <div class="password-container">
        <h3>Forgot Password</h3>
        <div>
            {% include "partials/messages.html" %}
            <!--=== ERROR MESSAGE DISPLAY ===-->
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="bp-gchild">
                <label style="float: left; padding-left: 10%">Email</label>
                <br />
                {{ form.email }}
            </div>
            <button type="submit">SEND</button>
        </form>  
    </div> 
</div>  
{% endblock content %}   
